<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jeongbin.mnu">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="넌목대생이니"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WeatherMainActivity"></activity>
        <activity android:name=".BookMainActivity"></activity>
        <activity android:name=".IntranetActivity"></activity>
        <activity android:name=".BookInfoActivity"></activity>
        <activity android:name=".QAinfoActivity"></activity>
        <activity android:name=".SchoolLunchActivity"></activity>
        <activity android:name=".BusActivity"></activity>
        <activity android:name=".StartActivity"></activity>
    </application>

</manifest>