<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mokpo.jeongbin.mnu"
    android:versionCode="3"
    android:versionName="1.5">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="넌목대생이니"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.mokpo.jeongbin.mnu.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<service android:name=".FirebaseMessageingService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--<service android:name=".FirebaseInstanceIDService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
            <!--</intent-filter>-->
        <!--</service>-->
        <activity android:name="com.mokpo.jeongbin.mnu.BookMainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.mokpo.jeongbin.mnu.IntranetActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.mokpo.jeongbin.mnu.BookInfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.mokpo.jeongbin.mnu.QAinfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.mokpo.jeongbin.mnu.SchoolLunchActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.mokpo.jeongbin.mnu.BusActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.mokpo.jeongbin.mnu.StartActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.mokpo.jeongbin.mnu.WeatherActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".LunchGradeActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>